@media screen and (max-width:800px) {
  .herotxt {display:none;}  
  #menu {position:relative;}
  #menu li {float:none; font-size: 2em; width:100%;}
  #menu li a {width:100%;}
}
body {
  margin:0;
  font-family:arial;
}

.welcome {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  padding: 10%;
  color:white;
  font-size:2em;
    
  width:100%;
  height:100vh;
  background-color:#000000;
  opacity:0.98;
  z-index:1;
  position:fixed;
}
.welcome p {
  text-align:center;
}
.welcome p.onep {
  font-size:2em;
}
.welcome p.twop {
  font-size:1em;
}
.welcome p.fourp {
  font-size:0.5em;
}

.herotxt {
  text-align:center;
  position:absolute;
  top:30%;
  background-color:#000000;
  opacity:0.8;
  color:white;
  padding: 0 5% 0 5%;
}
.herotxt h2 {
  font-size:2em;
  padding-bottom:5px;
  margin-bottom:15px;
  border-bottom: 2px solid white;
}
.herotxt p {
  font-size:1.5em;
  margin: -10px 0 30px 0;
}
h2.name {
  font-size:3em;
  margin: 0px 20% 0px 20%;
  border-bottom:2px solid white;
}
p.statement {
  font-size:1em;
  margin: 10px 10% 10px 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 3px 5px;
  position:fixed;
  width:100%;
  z-index:2;
}

li {
  float: left;
  width:25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:10px 16px;
  text-decoration: none;
  font-size:1.2em;
  transition:0.3s;
}

li a:hover {
  background-color: #4abdac;
  transition: 0.3s;
}
.heroimg {
  width:100%;
  box-shadow: 0px 3px 5px;
  transform-origin: top left;
}

.sectionhead {
  text-align:center;
  font-size:3em;
}

/* ABOUT ALEX */
/* ABOUT ALEX */

.about {
  background-color:#ffffff;
  margin: 0px 0px 0px 0px;
  padding: 1% 10% 1% 10%;
}
table {
  width:100%;
  border-bottom:2px solid #d7d7d7;
}
.tblcomp {
  font-weight:bold;
}
.tblyr {
  text-align:right;
  font-weight:bold;
  vertical-align:bottom;
}
/* END ABOUT ALEX */
/* END ABOUT ALEX */

/* EXPERIENCE */
/* EXPERIENCE */

.experience {
  background-color:#f2f2f2;
  margin: 0px 0px 0px 0px;
  padding: 1% 10% 4% 10%;
}
.html {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.htmlexp {
  width:38%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
  transition: 0.3s;

}
.htmlexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

.css {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.cssexp {
  width:38%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
}

.cssexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

.js {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.jsexp {
  width:12%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
  transition: 0.3s;
}

.jsexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

.ps {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.psexp {
  width:97%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
  transition: 0.3s;
}
.psexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

.ai {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.aiexp {
  width:62%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
  transition: 0.3s;
}

.aiexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

.pp {
  width:100%;
  height:auto;
  padding:;
  margin-top:-10px;
  background-color:#d6d6d6;
  
}
.ppexp {
  width:38%;
  height:auto;
  text-align:right;
  padding: 10px 10px 10px 10px;
  background-color:#fc4a1a;
  color:white;
  transition: 0.3s;

}

.ppexp:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}

/* END EXPERIENCE */
/* END EXPERIENCE */

.portfolio {
  background-color:#ffffff;
  margin: 0px 0px 3% 0px;
  padding: 1% 10% 1% 10%;
}
.ptflo {
  width:100%;
  border:0;
  padding: 2px;
  
  transition: 0.3s;
}
.ptflo:hover{
  background-color:#f2f2f2;
  cursor: pointer;
}

.logobtn {
  width:100%;
  height:auto;
  border:0;
  font-size:1.5em;
  background-color:#4abdac;
  color:white;
  padding:1%;
  margin: 1% 0% 1% 0%;
  
  transition:0.5s;
}
.logobtn:hover {
  background-color:#fc4a1a;
  cursor:pointer;
  
  transition:0.5s;
}
.logocontent {
  text-align:center;
  border-bottom:5px solid #ffffff;
  margin: 1% 0% 1% 0%;
}
.logoimg {
  width:30%;
  vertical-align:middle;
  
  transition: 0.5s;
}
.logoimg:hover{
  -ms-transform: scale(1.1, 1.1); 
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition:scale(1.1, 1.1);
}

.mmbtn {
  width:100%;
  height:auto;
  border:0;
  font-size:1.5em;
  background-color:#4abdac;
  color:white;
  padding:1%;
  margin: 1% 0% 1% 0%;
  
  transition:0.5s;
}
.mmbtn:hover {
  background-color:#fc4a1a;
  cursor:pointer;
  
  transition:0.5s;
}
.mmcontent {
  text-align:center;
  border-bottom:5px solid #ffffff;
  margin: 1% 0% 1% 0%;
}
.mmimg {
  width:45%;
  vertical-align:middle;
  margin: 0 2% 0 2%;
  
  transition: 0.5s;
}
.mmimg:hover{
  -ms-transform: scale(1.1, 1.1); 
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition:scale(1.1, 1.1);
}
.wdbtn {
  width:100%;
  height:auto;
  border:0;
  font-size:1.5em;
  background-color:#4abdac;
  color:white;
  padding:1%;
  margin: 1% 0% 1% 0%;
  
  transition:0.5s;
}
.wdbtn:hover {
  background-color:#fc4a1a;
  cursor:pointer;
  
  transition:0.5s;
}
.wdcontent {
  text-align:center;
  border-bottom:5px solid #ffffff;
  margin: 1% 0% 1% 0%;
}
.wdimg {
  width:45%;
  margin: 2%;
  vertical-align:middle;
  border-bottom:1px solid #d7d7d7;
  
  transition: 0.5s;
}

.wdimg:hover{
  cursor:pointer;
  -ms-transform: scale(1.1, 1.1); 
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition:scale(1.1, 1.1);
}
.cont {
  background-color:#f2f2f2;
  margin: 0px 0px 0px 0px;
  padding: 1% 10% 3% 10%;
}
.infocard {
  text-align:center;
  width:30%;
  margin: 0 35% 0 35%;
  padding-bottom:5px;
  background-color:#ffffff;
  box-shadow: 0px 1px 2px #d7d7d7;
  
  transition:0.3s;
}
.infocard:hover{
  box-shadow: 0px 2px 5px;
  
  transition:0.3s;
}
.infocard img {
  width:100%;
}
.infocard .lnkdin {
  width:20%;
}
.infocard a {
  text-decoration:none;
  color: #2f8377;
  transition:0.2s;
}
.infocard a:hover {
  text-decoration:none;
  color: #4abdac;
  background-color:#f2f2f2;
  border-radius: 5px;
  transition:0.2s;
}

.footer {
  display:block;
  background-color:#333;
  margin: 0px 0px 0px 0px;
  padding: 5%10% 5% 10%;
  text-align:center;
}
.footer a {
  margin: 0 5% 0 5%;
  color:#d7d7d7;
  text-decoration:none;
}
.footer a:hover {
  color:#f2f2f2;
}
.footertwo {
  display:block;
  background-color:#333;
  margin: 0px 0px 0px 0px;
  padding: 1% 10% 1% 10%;
  text-align:center;
}
.footertwo p {
  color:#d7d7d7;
}
.codepen {
  width: auto;
  height:auto;
  padding:5px;
  border:0;
  background-color:#1a1a1a;
  color:#d7d7d7;
  
  transition: 0.2s;
}
.codepen:hover {
  background-color:#404040;
  cursor:pointer;
}
